* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-image: none;
}

.all-sections {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.head-and-button {
  display: flex;
  align-items: center;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
