* {
  box-sizing: border-box;
  padding: 0;
}

.all-sections {
  display: flex;
  justify-content: space-around;
}

.head-and-button {
  display: flex;
  align-items: center;
  gap: 15px;
}

.recent-scores {
  min-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  width: 240px;
  gap: 30px;
}

.add-button {
  width: 25%;
  align-self: flex-end;
}
